
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.top-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-items {
    display: flex;
    flex-grow: 1; /* Allows this container to take up all available space */
}

.account {
    margin-left: auto; /* Pushes the account icon to the far right */
    margin-right: 15px;
    cursor: pointer;
    color: white;
}

.home-icon a {
    font-size: 25px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.top-navbar .nav-item {
    position: relative;
    float: left;
    margin: 0 10px;
    cursor: pointer;
}

.top-navbar .nav-item .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;  /* 기본적으로 왼쪽에 정렬 */
}

.top-navbar .nav-item .dropdown-content.right {
    right: 0;  /* 오른쪽에 정렬을 위한 속성 추가 */
    left: auto; /* 기존 left 속성 무시 */
}


.top-navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.top-navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}

#userIdDisplay {
    margin-right: 10px;
}

.left-navbar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    height: calc(100% - 50px);
    margin-top: 50px; /* Adjust for top navbar height */
}
.left-navbar a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 4px;
}
.left-navbar a:hover {
    background-color: #ddd;
}
.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
}
.content h2 {
    height: 50px;
}
.header {
    height: 50px;
}
.header h2 {
    float: left;
    margin-top: 10px;
}
.open-modal-btn {
    float: right;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}
.open-modal-btn:hover {
    background-color: #45a049;
}

#comment-modal-btn {
    display: block;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Fixes table layout */
}
.table th, .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflowing text */
    text-overflow: ellipsis; /* Adds ellipsis to overflowing text */
}
.table th {
    background-color: #f2f2f2;
    text-align: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    max-width: 800px; /* Max width */
    position: relative; /* For button positioning */
    height: 80%; /* Fixed height to prevent overlapping */
}

.modal-table-container {
    max-height: calc(100% - 150px); /* Adjust height as needed */
    overflow-y: auto;
}

.modal-content h2 {
    height: 50px;
}
.modal-input-wrap {
    height: 60%;
}
.modal-input {
    height: 35px;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
}
.add-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-btn:hover {
    background-color: #45a049;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.userIdDisplay {
    color: white;
    margin-right: 10px;
}
.logoutButton {
    padding: 5px 10px;
    background-color: black; /* 배경색을 검은색으로 변경 */
    color: white; /* 글씨색을 흰색으로 변경 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.logoutButton:hover {
    background-color: darkgray; /* hover 시 배경색을 어두운 회색으로 변경 */
}

.pagination-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px); /* To ensure it doesn't overflow the modal content */
    padding: 10px 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.pagination button {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px;
}

.table .select-cell {
    width: 50px; /* Reduce width of the select column */
    text-align: center; /* Center align the checkbox */
}

.table .select-cell input[type="checkbox"] {
    display: block;
    margin: 0 auto; /* Center the checkbox */
}

.warning-message {
    color: red;
    text-align: center;
    padding: 5px;
    height: 50px;
    font-size: 15px;
}